// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.fixed-left {
  bottom: 0;
  width: 232px;
  flex-flow: column nowrap;
  align-items: flex-start;
  right: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}
